.main-content {
    display: block;
    padding: 80px;
    color: #555;
    h1 {
        font-size: 250%;
    }
    h1, h2, h3, h4 {
        margin-bottom: 20px;
    }
    p, img {
        margin-bottom: 1rem;
    }
    ul, li {
        margin-bottom: 0.5rem;
        margin-left: 1em;
        list-style-type: disc;    
    }
}

.session {
    padding: 80px 160px 80px 160px;
    h1, h2 {
        margin-bottom: 10px;
    }
    h3, h4 {
        margin-bottom: 20px;
    }
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
}

.page-hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1E20;
}

.page-hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.page-hero-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 60%);
    z-index: 1;
}

.hero-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.page-hero-overlay {
    color: #fff;
    z-index: 3;
    position: absolute;
    bottom: 40px;
    left: 60px;
    padding: 10px;
}

.page-hero-text-box {
    h1 {
        font-size: 250%;
        font-weight: 600;
        margin: 0;
    }
}

.inner-page-images {
  display: flex;
  gap: 15px;
}

.inner-page-images img {
  width: 49%;
  height: 300px;
  object-fit: cover;
}

/* Agenda table */
.agenda-table-container {
    border: solid 1px #35566a;
    margin-bottom: 3rem;
    padding: 2px;
}

.agenda-table {
    width: 100%;
    border-collapse: collapse;
}

.agenda-table td {
    padding: .25em 1em;
    border: solid 2px #fff;
    vertical-align: top;
}

.agenda-table .time {
    font-weight: 700;
    color: #fff;
    background-color: #35566a;
    width: 100px;
    text-align: center;
}

.agenda-table .speaker {
    background-color: #e0e0e0;    
}

.agenda-table .session {
    background-color: #e8e8e8;
}

.agenda-break {
    background-color: #ccc;
    color: #666;
    text-align: center;
    font-weight: 600;
}
